USE [Northwind]
GO
/****** Object:  StoredProcedure [dbo].[Sales by Year]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP PROCEDURE [dbo].[Sales by Year]
GO
/****** Object:  StoredProcedure [dbo].[Sales by Year]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Sales by Year] 
	@Beginning_Date DateTime, @Ending_Date DateTime AS
SELECT Orders.ShippedDate, Orders.OrderID, "Order Subtotals".Subtotal, DATENAME(yy,ShippedDate) AS Year
FROM Orders INNER JOIN "Order Subtotals" ON Orders.OrderID = "Order Subtotals".OrderID
WHERE Orders.ShippedDate Between @Beginning_Date And @Ending_Date

GO
