USE [Northwind]
GO
/****** Object:  StoredProcedure [dbo].[pr_GetOrderSummary]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP PROCEDURE [dbo].[pr_GetOrderSummary]
GO
/****** Object:  StoredProcedure [dbo].[pr_GetOrderSummary]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Phuluso Ramulifho>
-- Create date: <06 November 2023
-- Description:	<Retrieve a summary of orders from the Northwind database, grouped by order day, employee, customer, and shipper, and filterable by date, employee, and customer.>
-- =============================================
CREATE PROCEDURE [dbo].[pr_GetOrderSummary]
    @StartDate DATETIME,
    @EndDate DATETIME,
    @EmployeeID INT = NULL,
    @CustomerID NVARCHAR(5) = NULL
AS
BEGIN
    SELECT
        CONCAT(e.TitleOfCourtesy, ' ', e.FirstName, ' ', e.LastName) AS EmployeeFullName,
        s.CompanyName AS ShipperCompanyName,
        c.CompanyName AS CustomerCompanyName,
        COUNT(o.OrderID) AS NumberOfOrders,
        CONVERT(DATE, o.OrderDate) AS OrderDate,
        SUM(o.Freight) AS TotalFreightCost,
        COUNT(DISTINCT od.ProductID) AS NumberOfDifferentProducts,
        SUM(od.UnitPrice * od.Quantity) AS TotalOrderValue
    FROM Orders o
    LEFT JOIN Employees e ON o.EmployeeID = e.EmployeeID
    LEFT JOIN Shippers s ON o.ShipVia = s.ShipperID
    LEFT JOIN Customers c ON o.CustomerID = c.CustomerID
    LEFT JOIN [Order Details] od ON o.OrderID = od.OrderID
    WHERE (o.OrderDate BETWEEN @StartDate AND @EndDate)
        AND (@EmployeeID IS NULL OR o.EmployeeID = @EmployeeID)
        AND (@CustomerID IS NULL OR o.CustomerID = @CustomerID)
    GROUP BY
        CONVERT(DATE, o.OrderDate),
        CONCAT(e.TitleOfCourtesy, ' ', e.FirstName, ' ', e.LastName),
        s.CompanyName,
        c.CompanyName;
END
GO
