USE [Northwind]
GO
/****** Object:  View [dbo].[Products by Category]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Products by Category]
GO
/****** Object:  View [dbo].[Products by Category]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Products by Category] AS
SELECT Categories.CategoryName, Products.ProductName, Products.QuantityPerUnit, Products.UnitsInStock, Products.Discontinued
FROM Categories INNER JOIN Products ON Categories.CategoryID = Products.CategoryID
WHERE Products.Discontinued <> 1
--ORDER BY Categories.CategoryName, Products.ProductName

GO
