USE [Northwind]
GO
/****** Object:  View [dbo].[Products Above Average Price]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Products Above Average Price]
GO
/****** Object:  View [dbo].[Products Above Average Price]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Products Above Average Price] AS
SELECT Products.ProductName, Products.UnitPrice
FROM Products
WHERE Products.UnitPrice>(SELECT AVG(UnitPrice) From Products)
--ORDER BY Products.UnitPrice DESC

GO
