USE [Northwind]
GO
/****** Object:  View [dbo].[Summary of Sales by Quarter]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Summary of Sales by Quarter]
GO
/****** Object:  View [dbo].[Summary of Sales by Quarter]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Summary of Sales by Quarter] AS
SELECT Orders.ShippedDate, Orders.OrderID, "Order Subtotals".Subtotal
FROM Orders INNER JOIN "Order Subtotals" ON Orders.OrderID = "Order Subtotals".OrderID
WHERE Orders.ShippedDate IS NOT NULL
--ORDER BY Orders.ShippedDate

GO
