USE [Northwind]
GO
/****** Object:  View [dbo].[Quarterly Orders]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Quarterly Orders]
GO
/****** Object:  View [dbo].[Quarterly Orders]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Quarterly Orders] AS
SELECT DISTINCT Customers.CustomerID, Customers.CompanyName, Customers.City, Customers.Country
FROM Customers RIGHT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.OrderDate BETWEEN '19970101' And '19971231'

GO
