USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Dimension].[Date]    Script Date: 10/24/2025 5:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dimension].[Date](
	[Date] [date] NOT NULL,
	[Day Number] [int] NOT NULL,
	[Day] [nvarchar](10) NOT NULL,
	[Month] [nvarchar](10) NOT NULL,
	[Short Month] [nvarchar](3) NOT NULL,
	[Calendar Month Number] [int] NOT NULL,
	[Calendar Month Label] [nvarchar](20) NOT NULL,
	[Calendar Year] [int] NOT NULL,
	[Calendar Year Label] [nvarchar](10) NOT NULL,
	[Fiscal Month Number] [int] NOT NULL,
	[Fiscal Month Label] [nvarchar](20) NOT NULL,
	[Fiscal Year] [int] NOT NULL,
	[Fiscal Year Label] [nvarchar](10) NOT NULL,
	[ISO Week Number] [int] NOT NULL,
 CONSTRAINT [PK_Dimension_Date] PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USERDATA]
) ON [USERDATA]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for date dimension (actual date is used for key)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Date'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Day of the month' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Day Number'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Day name' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Day'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Month name (ie September)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Month'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Short month name (ie Sep)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Short Month'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Calendar month number' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Calendar Month Number'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Calendar month label (ie CY2015Jun)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Calendar Month Label'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Calendar year (ie 2015)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Calendar Year'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Calendar year label (ie CY2015)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Calendar Year Label'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Fiscal month number' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Fiscal Month Number'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Fiscal month label (ie FY2015Feb)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Fiscal Month Label'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Fiscal year (ie 2016)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Fiscal Year'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Fiscal year label (ie FY2015)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'Fiscal Year Label'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'ISO week number (ie 25)' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date', @level2type=N'COLUMN',@level2name=N'ISO Week Number'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Date dimension' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Date'
GO
