USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Dimension].[Payment Method]    Script Date: 10/24/2025 5:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dimension].[Payment Method](
	[Payment Method Key] [int] NOT NULL,
	[WWI Payment Method ID] [int] NOT NULL,
	[Payment Method] [nvarchar](50) NOT NULL,
	[Valid From] [datetime2](7) NOT NULL,
	[Valid To] [datetime2](7) NOT NULL,
	[Lineage Key] [int] NOT NULL,
 CONSTRAINT [PK_Dimension_Payment_Method] PRIMARY KEY CLUSTERED 
(
	[Payment Method Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USERDATA]
) ON [USERDATA]
GO
ALTER TABLE [Dimension].[Payment Method] ADD  CONSTRAINT [DF_Dimension_Payment_Method_Payment_Method_Key]  DEFAULT (NEXT VALUE FOR [Sequences].[PaymentMethodKey]) FOR [Payment Method Key]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for the payment method dimension' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Payment Method', @level2type=N'COLUMN',@level2name=N'Payment Method Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Numeric ID for the payment method in the WWI database' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Payment Method', @level2type=N'COLUMN',@level2name=N'WWI Payment Method ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Payment method name' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Payment Method', @level2type=N'COLUMN',@level2name=N'Payment Method'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Valid from this date and time' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Payment Method', @level2type=N'COLUMN',@level2name=N'Valid From'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Valid until this date and time' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Payment Method', @level2type=N'COLUMN',@level2name=N'Valid To'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Lineage Key for the data load for this row' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Payment Method', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'PaymentMethod dimension' , @level0type=N'SCHEMA',@level0name=N'Dimension', @level1type=N'TABLE',@level1name=N'Payment Method'
GO
