USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Fact].[Transaction]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fact].[Transaction](
	[Transaction Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Date Key] [date] NOT NULL,
	[Customer Key] [int] NULL,
	[Bill To Customer Key] [int] NULL,
	[Supplier Key] [int] NULL,
	[Transaction Type Key] [int] NOT NULL,
	[Payment Method Key] [int] NULL,
	[WWI Customer Transaction ID] [int] NULL,
	[WWI Supplier Transaction ID] [int] NULL,
	[WWI Invoice ID] [int] NULL,
	[WWI Purchase Order ID] [int] NULL,
	[Supplier Invoice Number] [nvarchar](20) NULL,
	[Total Excluding Tax] [decimal](18, 2) NOT NULL,
	[Tax Amount] [decimal](18, 2) NOT NULL,
	[Total Including Tax] [decimal](18, 2) NOT NULL,
	[Outstanding Balance] [decimal](18, 2) NOT NULL,
	[Is Finalized] [bit] NOT NULL,
	[Lineage Key] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Transaction] PRIMARY KEY NONCLUSTERED 
(
	[Transaction Key] ASC,
	[Date Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PS_Date]([Date Key])
) ON [PS_Date]([Date Key])
GO
ALTER TABLE [Fact].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Transaction_Bill_To_Customer_Key_Dimension_Customer] FOREIGN KEY([Bill To Customer Key])
REFERENCES [Dimension].[Customer] ([Customer Key])
GO
ALTER TABLE [Fact].[Transaction] CHECK CONSTRAINT [FK_Fact_Transaction_Bill_To_Customer_Key_Dimension_Customer]
GO
ALTER TABLE [Fact].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Transaction_Customer_Key_Dimension_Customer] FOREIGN KEY([Customer Key])
REFERENCES [Dimension].[Customer] ([Customer Key])
GO
ALTER TABLE [Fact].[Transaction] CHECK CONSTRAINT [FK_Fact_Transaction_Customer_Key_Dimension_Customer]
GO
ALTER TABLE [Fact].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Transaction_Date_Key_Dimension_Date] FOREIGN KEY([Date Key])
REFERENCES [Dimension].[Date] ([Date])
GO
ALTER TABLE [Fact].[Transaction] CHECK CONSTRAINT [FK_Fact_Transaction_Date_Key_Dimension_Date]
GO
ALTER TABLE [Fact].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Transaction_Payment_Method_Key_Dimension_Payment Method] FOREIGN KEY([Payment Method Key])
REFERENCES [Dimension].[Payment Method] ([Payment Method Key])
GO
ALTER TABLE [Fact].[Transaction] CHECK CONSTRAINT [FK_Fact_Transaction_Payment_Method_Key_Dimension_Payment Method]
GO
ALTER TABLE [Fact].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Transaction_Supplier_Key_Dimension_Supplier] FOREIGN KEY([Supplier Key])
REFERENCES [Dimension].[Supplier] ([Supplier Key])
GO
ALTER TABLE [Fact].[Transaction] CHECK CONSTRAINT [FK_Fact_Transaction_Supplier_Key_Dimension_Supplier]
GO
ALTER TABLE [Fact].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Transaction_Transaction_Type_Key_Dimension_Transaction Type] FOREIGN KEY([Transaction Type Key])
REFERENCES [Dimension].[Transaction Type] ([Transaction Type Key])
GO
ALTER TABLE [Fact].[Transaction] CHECK CONSTRAINT [FK_Fact_Transaction_Transaction_Type_Key_Dimension_Transaction Type]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for a row in the Transaction fact' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Transaction Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Transaction date' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Date Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Customer (if applicable)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Customer Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Bill to customer (if applicable)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Bill To Customer Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Supplier (if applicable)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Supplier Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Type of transaction' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Transaction Type Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Payment method (if applicable)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Payment Method Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Customer transaction ID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'WWI Customer Transaction ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Supplier transaction ID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'WWI Supplier Transaction ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Invoice ID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'WWI Invoice ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Purchase order ID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'WWI Purchase Order ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Supplier invoice number (if applicable)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Supplier Invoice Number'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount excluding tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Total Excluding Tax'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount of tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Tax Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount including tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Total Including Tax'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Amount still outstanding for this transaction' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Outstanding Balance'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Has this transaction been finalized?' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Is Finalized'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Lineage Key for the data load for this row' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Transaction fact table (financial transactions involving customers and supppliers)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Transaction'
GO
