USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Integration].[StockItem_Staging]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[StockItem_Staging]
(
	[Stock Item Staging Key] [int] IDENTITY(1,1) NOT NULL,
	[WWI Stock Item ID] [int] NOT NULL,
	[Stock Item] [nvarchar](100) COLLATE Latin1_General_100_CI_AS NOT NULL,
	[Color] [nvarchar](20) COLLATE Latin1_General_100_CI_AS NOT NULL,
	[Selling Package] [nvarchar](50) COLLATE Latin1_General_100_CI_AS NOT NULL,
	[Buying Package] [nvarchar](50) COLLATE Latin1_General_100_CI_AS NOT NULL,
	[Brand] [nvarchar](50) COLLATE Latin1_General_100_CI_AS NOT NULL,
	[Size] [nvarchar](20) COLLATE Latin1_General_100_CI_AS NOT NULL,
	[Lead Time Days] [int] NOT NULL,
	[Quantity Per Outer] [int] NOT NULL,
	[Is Chiller Stock] [bit] NOT NULL,
	[Barcode] [nvarchar](50) COLLATE Latin1_General_100_CI_AS NULL,
	[Tax Rate] [decimal](18, 3) NOT NULL,
	[Unit Price] [decimal](18, 2) NOT NULL,
	[Recommended Retail Price] [decimal](18, 2) NULL,
	[Typical Weight Per Unit] [decimal](18, 3) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[Valid From] [datetime2](7) NOT NULL,
	[Valid To] [datetime2](7) NOT NULL,

 CONSTRAINT [PK_Integration_Stock_Item_Staging]  PRIMARY KEY NONCLUSTERED 
(
	[Stock Item Staging Key] ASC
)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
