USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Integration].[ETL Cutoff]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[ETL Cutoff](
	[Table Name] [sysname] NOT NULL,
	[Cutoff Time] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Integration_ETL_Cutoff] PRIMARY KEY CLUSTERED 
(
	[Table Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USERDATA]
) ON [USERDATA]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Table name' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'ETL Cutoff', @level2type=N'COLUMN',@level2name=N'Table Name'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Time up to which data has been loaded' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'ETL Cutoff', @level2type=N'COLUMN',@level2name=N'Cutoff Time'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'ETL Cutoff Times' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'ETL Cutoff'
GO
