USE [Chinook]
GO
ALTER TABLE [dbo].[Track] DROP CONSTRAINT [FK_TrackMediaTypeId]
GO
ALTER TABLE [dbo].[Track] DROP CONSTRAINT [FK_TrackGenreId]
GO
ALTER TABLE [dbo].[Track] DROP CONSTRAINT [FK_TrackAlbumId]
GO
/****** Object:  Index [IFK_TrackMediaTypeId]    Script Date: 10/24/2025 11:37:47 PM ******/
DROP INDEX [IFK_TrackMediaTypeId] ON [dbo].[Track]
GO
/****** Object:  Index [IFK_TrackGenreId]    Script Date: 10/24/2025 11:37:47 PM ******/
DROP INDEX [IFK_TrackGenreId] ON [dbo].[Track]
GO
/****** Object:  Index [IFK_TrackAlbumId]    Script Date: 10/24/2025 11:37:47 PM ******/
DROP INDEX [IFK_TrackAlbumId] ON [dbo].[Track]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 10/24/2025 11:37:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Track]') AND type in (N'U'))
DROP TABLE [dbo].[Track]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 10/24/2025 11:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[TrackId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[AlbumId] [int] NULL,
	[MediaTypeId] [int] NOT NULL,
	[GenreId] [int] NULL,
	[Composer] [nvarchar](220) NULL,
	[Milliseconds] [int] NOT NULL,
	[Bytes] [int] NULL,
	[UnitPrice] [numeric](10, 2) NOT NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[TrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IFK_TrackAlbumId]    Script Date: 10/24/2025 11:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IFK_TrackAlbumId] ON [dbo].[Track]
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IFK_TrackGenreId]    Script Date: 10/24/2025 11:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IFK_TrackGenreId] ON [dbo].[Track]
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IFK_TrackMediaTypeId]    Script Date: 10/24/2025 11:37:47 PM ******/
CREATE NONCLUSTERED INDEX [IFK_TrackMediaTypeId] ON [dbo].[Track]
(
	[MediaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_TrackAlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Album] ([AlbumId])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_TrackAlbumId]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_TrackGenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_TrackGenreId]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_TrackMediaTypeId] FOREIGN KEY([MediaTypeId])
REFERENCES [dbo].[MediaType] ([MediaTypeId])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_TrackMediaTypeId]
GO
