USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Fact].[Stock Holding]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fact].[Stock Holding](
	[Stock Holding Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Stock Item Key] [int] NOT NULL,
	[Quantity On Hand] [int] NOT NULL,
	[Bin Location] [nvarchar](20) NOT NULL,
	[Last Stocktake Quantity] [int] NOT NULL,
	[Last Cost Price] [decimal](18, 2) NOT NULL,
	[Reorder Level] [int] NOT NULL,
	[Target Stock Level] [int] NOT NULL,
	[Lineage Key] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Stock_Holding] PRIMARY KEY NONCLUSTERED 
(
	[Stock Holding Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USERDATA]
) ON [USERDATA]
GO
ALTER TABLE [Fact].[Stock Holding]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Stock_Holding_Stock_Item_Key_Dimension_Stock Item] FOREIGN KEY([Stock Item Key])
REFERENCES [Dimension].[Stock Item] ([Stock Item Key])
GO
ALTER TABLE [Fact].[Stock Holding] CHECK CONSTRAINT [FK_Fact_Stock_Holding_Stock_Item_Key_Dimension_Stock Item]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for a row in the Stock Holding fact' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Stock Holding Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Stock item being held' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Stock Item Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity on hand' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Quantity On Hand'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Bin location (where is this stock in the warehouse)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Bin Location'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity present at last stocktake' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Last Stocktake Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Unit cost when the stock item was last purchased' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Last Cost Price'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity below which reordering should take place' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Reorder Level'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Typical stock level held' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Target Stock Level'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Lineage Key for the data load for this row' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Holdings of stock items' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Stock Holding'
GO
