USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Fact].[Purchase]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fact].[Purchase](
	[Purchase Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Date Key] [date] NOT NULL,
	[Supplier Key] [int] NOT NULL,
	[Stock Item Key] [int] NOT NULL,
	[WWI Purchase Order ID] [int] NULL,
	[Ordered Outers] [int] NOT NULL,
	[Ordered Quantity] [int] NOT NULL,
	[Received Outers] [int] NOT NULL,
	[Package] [nvarchar](50) NOT NULL,
	[Is Order Finalized] [bit] NOT NULL,
	[Lineage Key] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Purchase] PRIMARY KEY NONCLUSTERED 
(
	[Purchase Key] ASC,
	[Date Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PS_Date]([Date Key])
) ON [PS_Date]([Date Key])
GO
ALTER TABLE [Fact].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Purchase_Date_Key_Dimension_Date] FOREIGN KEY([Date Key])
REFERENCES [Dimension].[Date] ([Date])
GO
ALTER TABLE [Fact].[Purchase] CHECK CONSTRAINT [FK_Fact_Purchase_Date_Key_Dimension_Date]
GO
ALTER TABLE [Fact].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Purchase_Stock_Item_Key_Dimension_Stock Item] FOREIGN KEY([Stock Item Key])
REFERENCES [Dimension].[Stock Item] ([Stock Item Key])
GO
ALTER TABLE [Fact].[Purchase] CHECK CONSTRAINT [FK_Fact_Purchase_Stock_Item_Key_Dimension_Stock Item]
GO
ALTER TABLE [Fact].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Purchase_Supplier_Key_Dimension_Supplier] FOREIGN KEY([Supplier Key])
REFERENCES [Dimension].[Supplier] ([Supplier Key])
GO
ALTER TABLE [Fact].[Purchase] CHECK CONSTRAINT [FK_Fact_Purchase_Supplier_Key_Dimension_Supplier]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for a row in the Purchase fact' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Purchase Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Purchase order date' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Date Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Supplier for this purchase order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Supplier Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Stock item for this purchase order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Stock Item Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Purchase order ID in source system ' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'WWI Purchase Order ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity of outers (ordering packages)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Ordered Outers'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity of inners (selling packages)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Ordered Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Received outers (so far)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Received Outers'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Package ordered' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Package'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Is this purchase order now finalized?' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Is Order Finalized'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Lineage Key for the data load for this row' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Purchase fact table (stock purchases from suppliers)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Purchase'
GO
