USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Fact].[Movement]    Script Date: 10/24/2025 5:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fact].[Movement](
	[Movement Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Date Key] [date] NOT NULL,
	[Stock Item Key] [int] NOT NULL,
	[Customer Key] [int] NULL,
	[Supplier Key] [int] NULL,
	[Transaction Type Key] [int] NOT NULL,
	[WWI Stock Item Transaction ID] [int] NOT NULL,
	[WWI Invoice ID] [int] NULL,
	[WWI Purchase Order ID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Lineage Key] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Movement] PRIMARY KEY NONCLUSTERED 
(
	[Movement Key] ASC,
	[Date Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PS_Date]([Date Key])
) ON [PS_Date]([Date Key])
GO
ALTER TABLE [Fact].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Movement_Customer_Key_Dimension_Customer] FOREIGN KEY([Customer Key])
REFERENCES [Dimension].[Customer] ([Customer Key])
GO
ALTER TABLE [Fact].[Movement] CHECK CONSTRAINT [FK_Fact_Movement_Customer_Key_Dimension_Customer]
GO
ALTER TABLE [Fact].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Movement_Date_Key_Dimension_Date] FOREIGN KEY([Date Key])
REFERENCES [Dimension].[Date] ([Date])
GO
ALTER TABLE [Fact].[Movement] CHECK CONSTRAINT [FK_Fact_Movement_Date_Key_Dimension_Date]
GO
ALTER TABLE [Fact].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Movement_Stock_Item_Key_Dimension_Stock Item] FOREIGN KEY([Stock Item Key])
REFERENCES [Dimension].[Stock Item] ([Stock Item Key])
GO
ALTER TABLE [Fact].[Movement] CHECK CONSTRAINT [FK_Fact_Movement_Stock_Item_Key_Dimension_Stock Item]
GO
ALTER TABLE [Fact].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Movement_Supplier_Key_Dimension_Supplier] FOREIGN KEY([Supplier Key])
REFERENCES [Dimension].[Supplier] ([Supplier Key])
GO
ALTER TABLE [Fact].[Movement] CHECK CONSTRAINT [FK_Fact_Movement_Supplier_Key_Dimension_Supplier]
GO
ALTER TABLE [Fact].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Movement_Transaction_Type_Key_Dimension_Transaction Type] FOREIGN KEY([Transaction Type Key])
REFERENCES [Dimension].[Transaction Type] ([Transaction Type Key])
GO
ALTER TABLE [Fact].[Movement] CHECK CONSTRAINT [FK_Fact_Movement_Transaction_Type_Key_Dimension_Transaction Type]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for a row in the Movement fact' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Movement Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Transaction date' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Date Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Stock item for this purchase order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Stock Item Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Customer (if applicable)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Customer Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Supplier (if applicable)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Supplier Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Type of transaction' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Transaction Type Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Stock item transaction ID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'WWI Stock Item Transaction ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Invoice ID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'WWI Invoice ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Purchase order ID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'WWI Purchase Order ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity of stock movement (positive is incoming stock, negative is outgoing)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Lineage Key for the data load for this row' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Movement fact table (movements of stock items)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Movement'
GO
