USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Fact].[Order]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fact].[Order](
	[Order Key] [bigint] IDENTITY(1,1) NOT NULL,
	[City Key] [int] NOT NULL,
	[Customer Key] [int] NOT NULL,
	[Stock Item Key] [int] NOT NULL,
	[Order Date Key] [date] NOT NULL,
	[Picked Date Key] [date] NULL,
	[Salesperson Key] [int] NOT NULL,
	[Picker Key] [int] NULL,
	[WWI Order ID] [int] NOT NULL,
	[WWI Backorder ID] [int] NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Package] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit Price] [decimal](18, 2) NOT NULL,
	[Tax Rate] [decimal](18, 3) NOT NULL,
	[Total Excluding Tax] [decimal](18, 2) NOT NULL,
	[Tax Amount] [decimal](18, 2) NOT NULL,
	[Total Including Tax] [decimal](18, 2) NOT NULL,
	[Lineage Key] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Order] PRIMARY KEY NONCLUSTERED 
(
	[Order Key] ASC,
	[Order Date Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PS_Date]([Order Date Key])
) ON [PS_Date]([Order Date Key])
GO
ALTER TABLE [Fact].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Order_City_Key_Dimension_City] FOREIGN KEY([City Key])
REFERENCES [Dimension].[City] ([City Key])
GO
ALTER TABLE [Fact].[Order] CHECK CONSTRAINT [FK_Fact_Order_City_Key_Dimension_City]
GO
ALTER TABLE [Fact].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Order_Customer_Key_Dimension_Customer] FOREIGN KEY([Customer Key])
REFERENCES [Dimension].[Customer] ([Customer Key])
GO
ALTER TABLE [Fact].[Order] CHECK CONSTRAINT [FK_Fact_Order_Customer_Key_Dimension_Customer]
GO
ALTER TABLE [Fact].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Order_Order_Date_Key_Dimension_Date] FOREIGN KEY([Order Date Key])
REFERENCES [Dimension].[Date] ([Date])
GO
ALTER TABLE [Fact].[Order] CHECK CONSTRAINT [FK_Fact_Order_Order_Date_Key_Dimension_Date]
GO
ALTER TABLE [Fact].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Order_Picked_Date_Key_Dimension_Date] FOREIGN KEY([Picked Date Key])
REFERENCES [Dimension].[Date] ([Date])
GO
ALTER TABLE [Fact].[Order] CHECK CONSTRAINT [FK_Fact_Order_Picked_Date_Key_Dimension_Date]
GO
ALTER TABLE [Fact].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Order_Picker_Key_Dimension_Employee] FOREIGN KEY([Picker Key])
REFERENCES [Dimension].[Employee] ([Employee Key])
GO
ALTER TABLE [Fact].[Order] CHECK CONSTRAINT [FK_Fact_Order_Picker_Key_Dimension_Employee]
GO
ALTER TABLE [Fact].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Order_Salesperson_Key_Dimension_Employee] FOREIGN KEY([Salesperson Key])
REFERENCES [Dimension].[Employee] ([Employee Key])
GO
ALTER TABLE [Fact].[Order] CHECK CONSTRAINT [FK_Fact_Order_Salesperson_Key_Dimension_Employee]
GO
ALTER TABLE [Fact].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Order_Stock_Item_Key_Dimension_Stock Item] FOREIGN KEY([Stock Item Key])
REFERENCES [Dimension].[Stock Item] ([Stock Item Key])
GO
ALTER TABLE [Fact].[Order] CHECK CONSTRAINT [FK_Fact_Order_Stock_Item_Key_Dimension_Stock Item]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for a row in the Order fact' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Order Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'City for this order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'City Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Customer for this order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Customer Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Stock item for this order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Stock Item Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Order date for this order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Order Date Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Picked date for this order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Picked Date Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Salesperson for this order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Salesperson Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Picker for this order' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Picker Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'OrderID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'WWI Order ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'BackorderID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'WWI Backorder ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Description of the item supplied (Usually the stock item name but can be overridden)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Type of package to be supplied' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Package'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity to be supplied' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Unit price to be charged' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Unit Price'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Tax rate to be applied' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Tax Rate'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount excluding tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Total Excluding Tax'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount of tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Tax Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount including tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Total Including Tax'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Lineage Key for the data load for this row' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Order fact table (customer orders)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Order'
GO
