USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Fact].[Sale]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Fact].[Sale](
	[Sale Key] [bigint] IDENTITY(1,1) NOT NULL,
	[City Key] [int] NOT NULL,
	[Customer Key] [int] NOT NULL,
	[Bill To Customer Key] [int] NOT NULL,
	[Stock Item Key] [int] NOT NULL,
	[Invoice Date Key] [date] NOT NULL,
	[Delivery Date Key] [date] NULL,
	[Salesperson Key] [int] NOT NULL,
	[WWI Invoice ID] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Package] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit Price] [decimal](18, 2) NOT NULL,
	[Tax Rate] [decimal](18, 3) NOT NULL,
	[Total Excluding Tax] [decimal](18, 2) NOT NULL,
	[Tax Amount] [decimal](18, 2) NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[Total Including Tax] [decimal](18, 2) NOT NULL,
	[Total Dry Items] [int] NOT NULL,
	[Total Chiller Items] [int] NOT NULL,
	[Lineage Key] [int] NOT NULL,
 CONSTRAINT [PK_Fact_Sale] PRIMARY KEY NONCLUSTERED 
(
	[Sale Key] ASC,
	[Invoice Date Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PS_Date]([Invoice Date Key])
) ON [PS_Date]([Invoice Date Key])
GO
ALTER TABLE [Fact].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Bill_To_Customer_Key_Dimension_Customer] FOREIGN KEY([Bill To Customer Key])
REFERENCES [Dimension].[Customer] ([Customer Key])
GO
ALTER TABLE [Fact].[Sale] CHECK CONSTRAINT [FK_Fact_Sale_Bill_To_Customer_Key_Dimension_Customer]
GO
ALTER TABLE [Fact].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_City_Key_Dimension_City] FOREIGN KEY([City Key])
REFERENCES [Dimension].[City] ([City Key])
GO
ALTER TABLE [Fact].[Sale] CHECK CONSTRAINT [FK_Fact_Sale_City_Key_Dimension_City]
GO
ALTER TABLE [Fact].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Customer_Key_Dimension_Customer] FOREIGN KEY([Customer Key])
REFERENCES [Dimension].[Customer] ([Customer Key])
GO
ALTER TABLE [Fact].[Sale] CHECK CONSTRAINT [FK_Fact_Sale_Customer_Key_Dimension_Customer]
GO
ALTER TABLE [Fact].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Delivery_Date_Key_Dimension_Date] FOREIGN KEY([Delivery Date Key])
REFERENCES [Dimension].[Date] ([Date])
GO
ALTER TABLE [Fact].[Sale] CHECK CONSTRAINT [FK_Fact_Sale_Delivery_Date_Key_Dimension_Date]
GO
ALTER TABLE [Fact].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Invoice_Date_Key_Dimension_Date] FOREIGN KEY([Invoice Date Key])
REFERENCES [Dimension].[Date] ([Date])
GO
ALTER TABLE [Fact].[Sale] CHECK CONSTRAINT [FK_Fact_Sale_Invoice_Date_Key_Dimension_Date]
GO
ALTER TABLE [Fact].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Salesperson_Key_Dimension_Employee] FOREIGN KEY([Salesperson Key])
REFERENCES [Dimension].[Employee] ([Employee Key])
GO
ALTER TABLE [Fact].[Sale] CHECK CONSTRAINT [FK_Fact_Sale_Salesperson_Key_Dimension_Employee]
GO
ALTER TABLE [Fact].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Sale_Stock_Item_Key_Dimension_Stock Item] FOREIGN KEY([Stock Item Key])
REFERENCES [Dimension].[Stock Item] ([Stock Item Key])
GO
ALTER TABLE [Fact].[Sale] CHECK CONSTRAINT [FK_Fact_Sale_Stock_Item_Key_Dimension_Stock Item]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for a row in the Sale fact' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Sale Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'City for this invoice' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'City Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Customer for this invoice' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Customer Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Bill To Customer for this invoice' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Bill To Customer Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Stock item for this invoice' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Stock Item Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Invoice date for this invoice' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Invoice Date Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Date that these items were delivered' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Delivery Date Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Salesperson for this invoice' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Salesperson Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'InvoiceID in source system' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'WWI Invoice ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Description of the item supplied (Usually the stock item name but can be overridden)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Type of package supplied' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Package'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Quantity supplied' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Unit price charged' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Unit Price'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Tax rate applied' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Tax Rate'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount excluding tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Total Excluding Tax'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount of tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Tax Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount of profit' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Profit'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total amount including tax' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Total Including Tax'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total number of dry items' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Total Dry Items'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Total number of chiller items' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Total Chiller Items'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Lineage Key for the data load for this row' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Sale fact table (invoiced sales to customers)' , @level0type=N'SCHEMA',@level0name=N'Fact', @level1type=N'TABLE',@level1name=N'Sale'
GO
