USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Integration].[City_Staging]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[City_Staging](
	[City Staging Key] [int] IDENTITY(1,1) NOT NULL,
	[WWI City ID] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[State Province] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](60) NOT NULL,
	[Continent] [nvarchar](30) NOT NULL,
	[Sales Territory] [nvarchar](50) NOT NULL,
	[Region] [nvarchar](30) NOT NULL,
	[Subregion] [nvarchar](30) NOT NULL,
	[Location] [geography] NULL,
	[Latest Recorded Population] [bigint] NOT NULL,
	[Valid From] [datetime2](7) NOT NULL,
	[Valid To] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Integration_City_Staging] PRIMARY KEY CLUSTERED 
(
	[City Staging Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USERDATA]
) ON [USERDATA] TEXTIMAGE_ON [USERDATA]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Row ID within the staging table' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'City Staging Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Numeric ID used for reference to a city within the WWI database' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'WWI City ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Formal name of the city' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'State or province for this city' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'State Province'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Country name' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Country'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Continent that this city is on' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Continent'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Sales territory for this StateProvince' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Sales Territory'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Name of the region' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Region'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Name of the subregion' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Subregion'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Geographic location of the city' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Location'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Latest available population for the City' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Latest Recorded Population'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Valid from this date and time' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Valid From'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Valid until this date and time' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging', @level2type=N'COLUMN',@level2name=N'Valid To'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'City staging table' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'City_Staging'
GO
