USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Integration].[TransactionType_Staging]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[TransactionType_Staging]
(
	[Transaction Type Staging Key] [int] IDENTITY(1,1) NOT NULL,
	[WWI Transaction Type ID] [int] NOT NULL,
	[Transaction Type] [nvarchar](50) COLLATE Latin1_General_100_CI_AS NOT NULL,
	[Valid From] [datetime2](7) NOT NULL,
	[Valid To] [datetime2](7) NOT NULL,

 CONSTRAINT [PK_Integration_Transaction_Type_Staging]  PRIMARY KEY NONCLUSTERED 
(
	[Transaction Type Staging Key] ASC
)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
