USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Integration].[Lineage]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[Lineage](
	[Lineage Key] [int] NOT NULL,
	[Data Load Started] [datetime2](7) NOT NULL,
	[Table Name] [sysname] NOT NULL,
	[Data Load Completed] [datetime2](7) NULL,
	[Was Successful] [bit] NOT NULL,
	[Source System Cutoff Time] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Integration_Lineage] PRIMARY KEY CLUSTERED 
(
	[Lineage Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USERDATA]
) ON [USERDATA]
GO
ALTER TABLE [Integration].[Lineage] ADD  CONSTRAINT [DF_Integration_Lineage_Lineage_Key]  DEFAULT (NEXT VALUE FOR [Sequences].[LineageKey]) FOR [Lineage Key]
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'DW key for lineage data' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'Lineage', @level2type=N'COLUMN',@level2name=N'Lineage Key'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Time when the data load attempt began' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'Lineage', @level2type=N'COLUMN',@level2name=N'Data Load Started'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Name of the table for this data load event' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'Lineage', @level2type=N'COLUMN',@level2name=N'Table Name'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Time when the data load attempt completed (successfully or not)' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'Lineage', @level2type=N'COLUMN',@level2name=N'Data Load Completed'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Was the attempt successful?' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'Lineage', @level2type=N'COLUMN',@level2name=N'Was Successful'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Time that rows from the source system were loaded up until' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'Lineage', @level2type=N'COLUMN',@level2name=N'Source System Cutoff Time'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'Details of data load attempts' , @level0type=N'SCHEMA',@level0name=N'Integration', @level1type=N'TABLE',@level1name=N'Lineage'
GO
