USE [WideWorldImportersDW_New]
GO
/****** Object:  Table [Integration].[StockHolding_Staging]    Script Date: 10/24/2025 5:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Integration].[StockHolding_Staging]
(
	[Stock Holding Staging Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Stock Item Key] [int] NULL,
	[Quantity On Hand] [int] NULL,
	[Bin Location] [nvarchar](20) COLLATE Latin1_General_100_CI_AS NULL,
	[Last Stocktake Quantity] [int] NULL,
	[Last Cost Price] [decimal](18, 2) NULL,
	[Reorder Level] [int] NULL,
	[Target Stock Level] [int] NULL,
	[WWI Stock Item ID] [int] NULL,

 CONSTRAINT [PK_Integration_Stock_Holding_Staging]  PRIMARY KEY NONCLUSTERED 
(
	[Stock Holding Staging Key] ASC
)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
