USE [Northwind]
GO
/****** Object:  View [dbo].[Customer and Suppliers by City]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Customer and Suppliers by City]
GO
/****** Object:  View [dbo].[Customer and Suppliers by City]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[Customer and Suppliers by City] AS
SELECT City, CompanyName, ContactName, 'Customers' AS Relationship 
FROM Customers
UNION SELECT City, CompanyName, ContactName, 'Suppliers'
FROM Suppliers
--ORDER BY City, CompanyName

GO
