USE [Northwind]
GO
/****** Object:  View [dbo].[Order Subtotals]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Order Subtotals]
GO
/****** Object:  View [dbo].[Order Subtotals]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Order Subtotals] AS
SELECT "Order Details".OrderID, Sum(CONVERT(money,("Order Details".UnitPrice*Quantity*(1-Discount)/100))*100) AS Subtotal
FROM "Order Details"
GROUP BY "Order Details".OrderID

GO
