USE [Northwind]
GO
/****** Object:  View [dbo].[Alphabetical list of products]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Alphabetical list of products]
GO
/****** Object:  View [dbo].[Alphabetical list of products]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Alphabetical list of products] AS
SELECT Products.*, Categories.CategoryName
FROM Categories INNER JOIN Products ON Categories.CategoryID = Products.CategoryID
WHERE (((Products.Discontinued)=0))

GO
