USE [Northwind]
GO
/****** Object:  View [dbo].[Current Product List]    Script Date: 10/25/2025 8:51:40 AM ******/
DROP VIEW [dbo].[Current Product List]
GO
/****** Object:  View [dbo].[Current Product List]    Script Date: 10/25/2025 8:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Current Product List] AS
SELECT Product_List.ProductID, Product_List.ProductName
FROM Products AS Product_List
WHERE (((Product_List.Discontinued)=0))
--ORDER BY Product_List.ProductName

GO
